{% extends 'learning_logs/base.html' %} {% load widget_tweaks %} {% block content %}
<header class="text-center text-warning my-4">
  <h1>Log in</h1>
</header>
<section class="container-sm bg-dark border mx-auto">
  <form
    action="{% url 'accounts:login' %}"
    method="post"
    class="my-3 pt-1 mx-2 mx-sm-5 px-1 px-md-5"
  >
    {% if form.errors %}
    <h2 class="alert alert-danger h3 mt-1 mb-4" role="alert">
      Wrong username or password. Try again
    </h2>
    {% endif %} {% csrf_token %}
    <div class="form-floating mb-2 mx-0 me-sm-5 pe-5">
      {% render_field form.username class+='form-control bg-black text-light' placeholder='Username' %}
      <label class="form-label text-warning" for="id_username"
        >{{form.username.label}}</label
      >
      <div class="form-text text-danger mt-1">{{form.username.errors}}</div>
    </div>
    <div class="form-floating mx-0 me-sm-5 pe-5">
      {% render_field form.password class+='form-control bg-black text-light' placeholder='Password' %}
      <label class="form-label text-warning" for="id_password"
        >{{form.password.label}}</label
      >
      <div class="form-text text-danger mt-2">{{form.password.errors}}</div>
    </div>
    <button name="submit" class="btn btn-warning mt-3">Log in</button>
  </form>
</section>
{% endblock content %}
